<!doctype html>
<html lang="en" ng-app="gdb4s">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="http://yandex.st/highlightjs/7.5/styles/github.min.css">
    <link rel="stylesheet" href="style.css">
    <title>gdb4s - Graph Database for Scala</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
    <script src="http://yandex.st/highlightjs/7.5/highlight.min.js"></script>
    <script src="http://pc035860.github.io/angular-highlightjs/angular-highlightjs.min.js"></script>
    <script src="angular.js"></script>
  </head>
  <body ng-controller="PageCtrl">
    <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
      <a href="/" class="pure-menu-heading">GDB4S</a>

      <ul>
          <li ng-class="{ 'pure-menu-selected' : pages.query }"><a href="" ng-click="goTo('query')"><i class="fa fa-home fa-lg"></i> Home</a></li>
          <li ng-class="{ 'pure-menu-selected' : pages.api }"><a href="" ng-click="goTo('api')"><i class="fa fa-code fa-lg"></i> API</a></li>
          <li ng-class="{ 'pure-menu-selected' : pages.about }"><a href="" ng-click="goTo('about')"><i class="fa fa-user fa-lg"></i> About</a></li>
      </ul>
    </div>

    <div class="pure-g-r page" ng-show="pages.query" ng-controller="QueryCtrl">
      <form class="pure-form">
        <div class="pure-u-1-3">
            <div class="l-box"><input type="text" ng-model="obj" placeholder="Subject" class="pure-input-1 pure-input-rounded"></div>
        </div>

        <div class="pure-u-1-3">
            <div class="l-box"><input type="text" ng-model="pre" placeholder="Predicate" class="pure-input-1 pure-input-rounded"></div>
        </div>

        <div class="pure-u-1-3">
            <div class="l-box"><input type="text" ng-model="sub" placeholder="Object" class="pure-input-1 pure-input-rounded"></div>
        </div>

        <div class="pure-u-1">
          <div class="l-box right">
            <button ng-click="add()" class="pure-button pure-input-rounded pure-button-add" ng-class="{ 'pure-button-disabled' : !(obj && pre && sub) }" ng-disabled="!(obj && pre && sub)">
              <i class="fa fa-plus"></i> Add
            </button>
            <button ng-click="remove()" class="pure-button pure-input-rounded pure-button-remove" ng-class="{ 'pure-button-disabled' : !(obj && pre && sub) }" ng-disabled="!(obj && pre && sub)">
              <i class="fa fa-minus"></i> Remove
            </button>
            <button ng-click="query()" class="pure-button pure-input-rounded pure-button-primary" ng-class="{ 'pure-button-disabled' : !(obj || pre || sub) }" ng-disabled="!(obj || pre || sub)">
              <i class="fa fa-search"></i> Query
            </button>
          </div>
        </div>

        <div class="pure-u-1">
          <div class="l-box">
            <h2 class="apicall" ng-bind="apicall"></h2>
            <div hljs source="result"></div>
            <div class="error" ng-bind="err"></div>
          </div>
        </div>
      </form>
    </div>

    <div class="pure-g-r page" ng-show="pages.api">
      <div class="pure-u-1">
        <div class="l-box right"><h1>API DOCS</h1></div>
        <div class="l-box">
          <h2>/db endpoint</h2>
          <p>/db endpoint is the main endpoint for CRUD database operations and queries.</p>
          <dl>
            <dt>GET /db/{subject}/{predicate}/{object}</dt><dd> queries database, returns list of edges</dd>
            <dt>POST /db/{subject}/{predicate}/{object}</dt><dd> creates given edge, returns newly created edge or 404</dd>
            <dt>DELETE /db/{node}</dt><dd> deletes all edges that connected with given node, returns list of deleted edges</dd>
            <dt>DELETE /db/{subject}/{predicate}/{object}</dt><dd> deletes given edge, returns deleted edge or 404</dd>
            <dt>PUT /db/{node}</dt><dd> updates all edges that connected with given node with new node that given as HTTP entity, returns list of updated edges</dd>
            <dt>PUT /db/{subject}/{predicate}/{object}</dt><dd> updates given edge with new edge that given as HTTP, returns updated edge or 404</dd>
          </dl>

          <h3>Example Result:</h3>
          <p hljs>
[
    {
        "from": "mustafa",
        "relationtype": "love",
        "to": "angularjs"
    },
    {
        "from": "mustafa",
        "relationtype": "love",
        "to": "python"
    },
    {
        "from": "mustafa",
        "relationtype": "love",
        "to": "scala"
    }
]
          </p>
        </div>
        <div class="l-box">
          <h2>/ns endpoint</h2>
          <p>This endpoint is a shortcut to query <code>rdf:namespace</code> relations.</p>
          <dl>
            <dt>GET /ns</dt><dd> returns list of namespaces</dd>
            <dt>GET /ns/{name}</dt><dd> query namespace with given name, returns triple or 404</dd>
            <dt>POST /ns/{name}</dt><dd> create namespace with given name, expects a node as HTTP entity that represents object of relation, returns created triple or 404</dd>
            <dt>DELETE /ns/{name}</dt><dd> delete namespace with given name, returns deleted triple or 404</dd>
            <dt>PUT /ns/{name}</dt><dd> updates namespace entry with given name, expects a node as HTTP entity that represents object of relation, returns created triple or 404</dd>
          </dl>

          <h3>Example Result:</h3>
          <p hljs>
{
    "from": "ms",
    "relationtype": "rdf:namespace",
    "to": "http://msimav.net/"
}
          </p>
        </div>
        <div class="l-box">
          <h2>/batch endpoint</h2>
          <p>/batch endpoint is a shortcut for batch inserting. It expects list of triples to insert as HTTP entity.</p>
          <dl>
            <dt>POST /batch</dt><dd>expects list of edges, returns list of successful inserted edges</dd>
          </dl>

          <h3>Example Input:</h3>
          <p hljs>
[
    {
        "from": "mustafa",
        "relationtype": "love",
        "to": "angularjs"
    },
    {
        "from": "mustafa",
        "relationtype": "love",
        "to": "python"
    },
    {
        "from": "mustafa",
        "relationtype": "love",
        "to": "scala"
    }
]
          </p>
        </div>
      </div>
    </div>

    <div class="pure-g-r page" ng-show="pages.about">
      <div class="pure-u-1">
        <div class="l-box right">
          <h1>ABOUT</h1>
        </div>
        <div class="l-box">
          <h2>About gdb4s</h2>
          <p>Graph Database for Scala, is a <em>graph-like</em> database that stores triples and support query on different elements of these triples. The elements of triples are <em>subject</em>, <em>predicate</em> and <em>object</em>. They respectivly represents the vertex which the relation goes from, the type of relation and the vertex which the relation goes in. Triples simply represents edges of directed weighted graphs.</p>
        </div>
        <div class="l-box">
          <h2>About Me</h2>
          <p>I am Mustafa Simav, a senior computer engineering student at TOBB Univercity of Economis and Technology. My interests are scala, actor model, reactive programming, unix/linux, RESTFUL API design.</p>
        </div>
      </div>
      </div>
    </div>


  </body>
</html>